write-kubeconfig-mode: "0644"
token: {{ rke2_token }}

{% if inventory_hostname == groups['server_nodes'][0] %}
# Configuration for the first server node
bind-address: {{ ansible_default_ipv4.address }}
advertise-address: {{ ansible_default_ipv4.address }}
{% else %}
# Configuration for other server nodes
server: https://{{ vip }}:6443
{% endif %}

tls-san:
  - {{ vip }}
  - {{ ansible_fqdn }}
  - {{ ansible_default_ipv4.address }}
  - {{ hostvars[groups['server_nodes'][0]]['ansible_host'] }}
  - {{ hostvars[groups['server_nodes'][1]]['ansible_host'] }}
  - {{ hostvars[groups['server_nodes'][2]]['ansible_host'] }}

node-label:
  - "server=true"

# Custom CIDR settings
cluster-cidr: "{{ cluster_cidr }}"
service-cidr: "{{ service_cidr }}"

# Kubernetes API server configuration
kube-apiserver-arg:
  - "advertise-address={{ vip }}"

# Enable leader election for control plane components
kube-controller-manager-arg:
  - "leader-elect=true"
kube-scheduler-arg:
  - "leader-elect=true"

# Disable default ingress as we'll set up our own
disable:
  - rke2-ingress-nginx
