write-kubeconfig-mode: "0644"
token: {{ rke2_token }}  # Use the dynamic token instead of a static one

{% if inventory_hostname == groups['server_nodes'][0] %}
bind-address: {{ ansible_default_ipv4.address }}
advertise-address: {{ vip }}
{% else %}
server: https://{{ vip }}:6443
{% endif %}

tls-san:
  - {{ vip }}
  - my-kubernetes-domain.com
  - {{ ansible_fqdn }}
  - {{ ansible_default_ipv4.address }}
  - {{ hostvars[groups['server_nodes'][0]]['ansible_host'] }}
  - {{ hostvars[groups['server_nodes'][1]]['ansible_host'] }}
  - {{ hostvars[groups['server_nodes'][2]]['ansible_host'] }}
  {% for host in groups['server_nodes'] %}
  - {{ hostvars[host]['ansible_host'] }}
  {% endfor %}

node-label:
  - "server=true"

disable:
  - rke2-ingress-nginx

# Custom CIDR settings
cluster-cidr: "{{ cluster_cidr }}"
service-cidr: "{{ service_cidr }}"

# Ensure all nodes use the VIP for API server communication
kube-apiserver-arg:
  - "advertise-address={{ vip }}"

# Enable leader election for all control plane components
kube-controller-manager-arg:
  - "leader-elect=true"
kube-scheduler-arg:
  - "leader-elect=true"
